<div id="<%= dom_id date %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= date.date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this date", date, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this date', edit_date_path(date), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
